{% comment %}
*
*   Liquid variables are created at the top to keep the source DRY and clean.
*   Idea by ericcarlisle.com
*
*   Variables › {{ url }} › site.url + site.baseurl
*   Variables › {{ description }} › excerpt, page.meta_description, or site.description
*   Variables › {{ title }} › page.title
*
{% endcomment %}{% capture ignore %}

{% assign url = site.baseurl | prepend: site.url %}

{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}{% endcapture %}
{% assign description = description | strip_html | escape | strip %}

{% capture title %}{% if page.meta_title %}{{ page.meta_title}}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title | strip_html | strip }}{% endif %}{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}<!doctype html>
<html lang="{% if site.language == nil %}en{% else %}{{ site.language.html_language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ title }}</title>
  <meta name="description" content="Portfolio Website von Ari GlamSlam">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url }}/assets/css/normalize.min.css">
  <link rel="stylesheet" href="{{ url }}/assets/css/styles.css">
  <link rel="stylesheet" href="{{ url }}/assets/css/typography.css">
  <link rel="stylesheet" href="{{ url }}/assets/css/layout.css">
  <link rel="stylesheet" href="{{ url }}/assets/css/css-elements.css">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700,700italic|Roboto+Mono:400,700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
</head>
<body{% if page.format %} id="{{ page.format }}"{% endif %}>
