
/* Main
------------------------------------------------------------------- */

main {
    margin-top: -5em;
    background: #fff;
    border-radius: .25em;
    color: #14191f;
    padding: 2em 10em 4em 10em;
}


/* Services
------------------------------------------------------------------- */

#services {
    margin: 3em auto 16em auto;
}
#services a:hover {
    color: #FF410D;
}
.columns {
    border-radius: .25em;
    background: #fff;
    color: #267fb5;
    -webkit-transition: all .25s cubic-bezier(.33,.66,.66,1);
    transition: all .25s cubic-bezier(.33,.66,.66,1);
}
.columns:hover {
    margin-top: -.5rem;
}
.columns img {
    border-radius: .25em .25em 0 0;
}
.columns p {
    color: #14191f;
    margin: 1rem;
}
.columns p a {
    color: #267fb5;
    font-weight: bold;
}
.columns h2 {
    color: #14191f;
    margin: 1rem;
    font-weight: 100;
}
.columns h2 a {
    color: #267fb5;
    font-weight: 100;
}
.left-column {
    width: 17em;
    float: left;
}
.middle-column {
    width: 17em;
    float: left;
    margin: 0 2.5em;
}
.right-column {
    width: 17em;
    float: left;
}


.wrapper {
    width: 56em;
    margin: 0 auto;
}

/* Footer
------------------------------------------------------------------- */
#footer {
    text-align: center;
    padding: 3em;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

